<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Document</title>
</head>
<style>
    .main {
        margin-top: 50px;
    }
</style>

<body>
    <div class="main container-md">
        <h1>All Shows {{show.title}}</h1>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Network</th>
                    <th scope="col">Release Date</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for show in all_shows%}
                <tr>
                    <th scope="row">{{show.id}}</th>
                    <td>{{show.title}}</td>
                    <td>{{show.network}}</td>
                    <td>{{show.date}}</td>
                    <td><a href="/shows/{{show.id}}">Show</a> | <a href="/shows/{{show.id}}/update">Edit</a> | <a
                            href="/delete/{{show.id}}">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/shows/new">Add a New Show</a>
    </div>
</body>
    
</html>