<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/home_global.css" type="text/css">
        <title>"MyFirstBlog"</title>
        {% load static %}
        <link rel="stylesheet href={% static 'css/style.css' %}">
    </head>

<body>

    <div class="header">
        <h2>My First Blog</h2>
    </div>

    <div class="row">
        <div class="leftcolumn">
            <div class="card">
                <h2>Wear A Mask</h2>
                <h5>Covid 19 Kills, WEAR A MASK, Welcome to 2020</h5>
                <div class="fakeimg" style="height:200px;">
                <p>Globally Trending Topics</p>
                <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco.</p>
            </div>
            <div class="card">
                <h2>Blog #2</h2>
                <h5>Title description, Sep 2, 2017</h5>
                <div< class="fakeimg" style="height:200px;">Image></div>
                <p>Some text..</p>
                <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco.</p>
            </div>
        </div>
        <div class="rightcolumn">
            <div class="card">
                <h2>About Me</h2>
                <div class="fakeimg" style="height:100px;"></div>
                <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
            </div>
            <div class="card">
                <h3>Popular Post</h3>
                <div class="fakeimg">Image</div><br>
                <div class="fakeimg">Image</div><br>
                <div class="fakeimg"><p><img src="wearMask.png" alt="oops"></p></div>
            </div>
            <div class="card">
                <h3>Follow Me</h3>
                <p>Some text..</p>
            </div>
        </div>
    </div>

    <div class="footer">
        <h2>NON SOCIAL-MEDIA</h2>
    </div>

</body>

</html>